{
  "env": {
    "es6": true,
    "browser": true,
    "node": trues
  },
  "rules": {
    "no-undef": 2
  },
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "globals": {
    "game": true,
    "view": true,
    "constants": true,
    "canvas": true,
    "math": true,
    "objects": true,
    "user": true
  }
}
